Django==1.8.7
MySQL-python==1.2.5
Pillow==3.0.0
argparse==1.2.1
bootstrap-admin==0.3.6
django-audit-log==0.7.0
django-localflavor==1.2
django-model-utils==2.4
django-smart-selects==1.2.0
wsgiref==0.1.2
