{% extends "home/base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block head_title %}{{title}} {% endblock head_title %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Acerca de Iris" "about"%}
{% endblock %}


{% block content %}

{% render_breadcrumbs %}

<hr>

<header class="jumbotron hero-spacer">
    <h1>Acerca de Iris</h1>
    <p>	
	Este proyecto fue diseñado para ayudar a la correcta identificación de las 
	necesidades de canalización adecuada de recursos a los miembros de la 
	Asociación de Ciegos del Cibao (República Dominicana).
</p>
<p>
	Iris es una aplicación web desarrollada en Python y potenciada por 
	Django web framework, que permite grabar la información de los miembros, 
	su entorno y su historial médico:
</p>

<ul>
	<li><p>Registrar y consultar información básica (nombre, edad, teléfono, 
	dirección, estado civil, ocupación, fotografía).</p></li>
	<li><p>Registrar y consultar uno o más tipos de diganosticos o enfermedades.</p></li>
	<li><p>Registra las familias de los miembros que viven con ellos y su relación.</p></li>
	<li><p>Identificar automáticamente a las madres solteras.</p></li>
	<li><p>Identifique la cantidad de hijos de los miembros.</p></li>
</ul>

</header>

{% endblock content %}
