{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block head_title %}{% endblock %}</title>

    {% include "home/head_css.html" %}

    <style>
    {% block style %}{% endblock style %}
    </style>

</head>

<body>
    
    {% include "home/navbar.html" %}

    <!-- Page Content -->
    <div class="container">

        {% block breadcrumbs %} 
            {% clear_breadcrumbs %}
            {% breadcrumb "Home" "/" %}
        {% endblock %}

        {% block jumbotron %} {% endblock %}

        

{#         <hr> #}

        {% block content %}
            
        {% endblock content %}

       

        <hr>

    </div>
    <!-- /.container -->
{% include "home/footer.html" %}
{% include "home/js.html" %}

</body>

</html>
